<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <img class="header__img" src="img/logo.svg" alt="Site logo">
    </a>

    <nav class="header__nav">
      <ul class="header__list list-reset">
        <li class="header__item"><a class="link-reset header__link" href="">Home</a></li>
        <li class="header__item"><a class="link-reset header__link" href="">Recipes</a></li>
        <li class="header__item"><a class="link-reset header__link" href="">Article</a></li>
        <li class="header__item"><a class="link-reset header__link" href="">Contact</a></li>
        <li class="header__item"><a class="link-reset header__link" href="">Purchase</a></li>
      </ul>
    </nav>

    <button class="header__btn btn-reset">
      <img class="header__icon" src="img/header-icon.svg" alt="Search button">
    </button>
  </div>
</header>
