<section class="news">
  <div class="news__desktop">
    <div class="news__article news__article--one">
      <div class="news__content">
        <a class="category-link" href="">Vehicle</a>
        <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
        <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
      </div>
    </div>
    <div class="news__article news__article--two">
      <div class="news__content">
        <a class="category-link" href="">Vehicle</a>
        <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
        <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
      </div>
    </div>
    <div class="news__article news__article--three">
      <div class="news__content">
        <a class="category-link" href="">Vehicle</a>
        <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
        <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
      </div>
    </div>
    <div class="news__article news__article--four">
      <div class="news__content">
        <a class="category-link" href="">Vehicle</a>
        <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
        <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
      </div>
    </div>
    <div class="news__article news__article--five">
      <div class="news__content">
        <a class="category-link" href="">Vehicle</a>
        <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
        <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
      </div>
    </div>
  </div>
  <div class="news__mobile">
    <div class="swiper news__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-one">
          <div class="news__article news__article--one">
            <div class="news__content">
              <a class="category-link" href="">Vehicle</a>
              <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
              <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
              <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-two">
          <div class="news__article news__article--two">
            <div class="news__content">
              <a class="category-link" href="">Vehicle</a>
              <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
              <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
              <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-three">
          <div class="news__article news__article--three">
            <div class="news__content">
              <a class="category-link" href="">Vehicle</a>
              <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
              <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
              <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-four">
          <div class="news__article news__article--four">
            <div class="news__content">
              <a class="category-link" href="">Vehicle</a>
              <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
              <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
              <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-five">
          <div class="news__article news__article--five">
            <div class="news__content">
              <a class="category-link" href="">Vehicle</a>
              <h2 class="news__title">One of&nbsp;Saturn&rsquo;s largest rings may be&nbsp;newer than anyone</h2>
              <time class="category-date" datetime="2019-6-6">Rickie Baroch&nbsp;&mdash; June&nbsp;6, 2019</time>
              <p class="news__descr">Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination">
      </div>
    </div>
  </div>

  <div class="news__pagination">
    <button class="news__btn">
      <img class="news__arrow-img news__arrow-img--disabled" src="../img/news-arrow-right.svg" alt="">
    </button>
    <button class="news__btn news__btn--active">1</button>
    <button class="news__btn">2</button>
    <button class="news__btn">3</button>
    <button class="news__btn">4</button>
    <button class="news__btn">...</button>
    <button class="news__btn">8</button>
    <button class="news__btn">
      <img class="news-arrow-right" src="../img/news-arrow-right.svg" alt="">
    </button>
  </div>
</section>