<section class="post">
  <div class="post__container">
    <div class="post__bike">
      <img class="post__img" src="../img/Bitmap (3).png" alt="">
      <h3 class="post__title">Leon Hunt</h3>
      <p class="post__themes">Food & cooking bloger</p>
      <p class="post__about">Hi, I'm Leon. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…</p>
      <button class="btn-reset post__btn">Continue Reading</button>
    </div>
    <div class="post__popular">
      <h3 class="post__topic">Popular posts</h3>
      <div class="post__car post__car--one">
        <div class="post__image post__image-one">
          <a class="category-link category-link-post" href="">Vehicle</a>
        </div>
        <h3 class="post__caption">One of Saturn’s largest rings may be newer than anyone</h3>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch - June 6, 2019</time>
      </div>
      <div class="post__car post__car--two">
        <div class="post__image post__image-two">
          <a class="category-link category-link-post" href="">Vehicle</a>
        </div>
        <h3 class="post__caption">One of Saturn’s largest rings may be newer than anyone</h3>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch - June 6, 2019</time>
      </div>
      <div class="post__car post__car--three">
        <div class="post__image post__image-three">
          <a class="category-link category-link-post" href="">Vehicle</a>
        </div>
        <h3 class="post__caption">One of Saturn’s largest rings may be newer than anyone</h3>
        <time class="category-date" datetime="2019-6-6">Rickie Baroch - June 6, 2019</time>
      </div>
    </div>
    <div class="post__inst">
      <h3 class="post__title post__title-inst">Instagram</h3>
      <div class="post__inst-gallery--desktop">
        <img class="post__inst-image" src="../img/Rectangle Copy 42.png" alt="">
        <img class="post__inst-image" src="../img/Rectangle Copy 23.png" alt="">
        <img class="post__inst-image" src="../img/Rectangle Copy 43.png" alt="">
        <img class="post__inst-image" src="../img/Rectangle Copy 24.png" alt="">
        <img class="post__inst-image" src="../img/Rectangle Copy 44.png" alt="">
        <img class="post__inst-image" src="../img/Rectangle Copy 30.png" alt="">
      </div>
      <div class="post__inst-gallery--mobile">
        <div class="swiper post-mobile-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 42.png" alt="">
            </div>
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 23.png" alt="">
            </div>
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 43.png" alt="">
            </div>
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 24.png" alt="">
            </div>
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 44.png" alt="">
            </div>
            <div class="swiper-slide post-slide">
              <img class="post__inst-image" src="../img/Rectangle Copy 30.png" alt="">
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <button class="btn-reset post__btn post__btn-inst">View instagram</button>
    </div>
    <div class="post__tags">
      <h3 class="post__title-tags post__title">Tags</h3>
      <div class="category-tags">
        <button class="btn-reset tags-button">Business</button>
        <button class="btn-reset tags-button">Freelance</button>
        <button class="btn-reset tags-button">Money</button>
        <button class="btn-reset tags-button">Experience</button>
        <button class="btn-reset tags-button">Lifestyle</button>
        <button class="btn-reset tags-button">SEO</button>
        <button class="btn-reset tags-button">Wordpress</button>
        <button class="btn-reset tags-button">Marketing</button>
        <button class="btn-reset tags-button">UX</button>
        <button class="btn-reset tags-button">Modern</button>
        <button class="btn-reset tags-button">Success</button>
        <button class="btn-reset tags-button">Nature</button>
        <button class="btn-reset tags-button">Productivity</button>
        <button class="btn-reset tags-button">Sales page</button>
        <button class="btn-reset tags-button">Sell</button>
        <button class="btn-reset tags-button">Teamwork</button>
        <button class="btn-reset tags-button">Monetize</button>
      </div>
    </div>
    <div class="post__mailing">
      <h3 class="post__mailing-title">Email newsletter</h3>
      <p class="post__mailing-about">Sign up to receive email updates and to hear what's going on.</p>
      <form class="post__form" action="" method="get">
        <input placeholder="Your name" class="form-text form-input" type="text" name="name" id="name" required>
        <input placeholder="Your email adress" class="form-email form-input" type="email" name="email" id="email" required>
        <buttonc class="form-sumbit" type="submit">Subscribe to newsletter</buttonc>
      </form>
    </div>
  </div>
</section>